*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: poppins, actor,adana;
   
    
}

.topp{
    background:  #050505;
    padding-bottom: 10px;
}



.nav-links ul  {
    float: right;
    display: flex;
    justify-content: space-between;  
    padding-top: 20px; 
    padding-bottom: 20px;
   
}
.nav-links  li{
    justify-content: space-between;
    padding: 10px;
}
.nav-links .yellow{
    color: black;
    background-color:#FAFF00 ;
}
.nav-links .black{
    color: #FAFF00;
    background-color:black;

}
.nav-links .work-with-us{
    color: black;
    background-color: #FFAC12;
    margin-right: 100px;
    border-radius: 0px 12px 0px 0px;
    padding: 5px;
}
.nav-links button:hover{
    background-color: #9a4013;
}
.nav-links a{
    color: white;
}
.nav-links button{
    border-radius: 5px;
    border: 0px;
    padding: 6px;
}
.nav-links a:hover{
    color: chocolate;
}
.navlink-bot{
    
    color: white;
    padding: 100px;
    justify-content: space-between;
    padding-bottom: 5px;
    display: flex;
}
.navlink-bot .cost{
    margin-left: 855px;
    
}
.cost h3{
    padding: 0px;
    margin: 0px;
}


.cost p{
    display: inline-block;
    white-space: nowrap;
    font-size: 10px;
}
.modern p{
    white-space: nowrap;
    font-size: 10px;
}
.modern h3{
    margin: 0px;
    padding: 0px;
}
.mid-section{
    background-color: lightgray;
    
    padding-top: 50px;
}
.large-img-and-form{
    display: flex;
}
.mid img{
    height: 500px;
    width: auto;
    margin-left: 100px;
}
.mid .form-btn{
    background-color: #271b14;
    color: white;
    border-radius: 0px 12px 0px 0px;
    border: 50px;
    height:60px;
    width: 295px;
    padding: 20px;
}
.form-in{
    padding: 20px;
    background-color: #f7f1ee;
    border-radius: 15px;
    border: 50px;
}
.form-in img{
    height: 80px;
    width: 80px;
    border-radius: 80%;
    padding-bottom: 10px;
    text-align: left;
    margin-left: 10px;
}
.form-in .profile{
    display: flex;
    background: #EFEAD8;
    border-radius: 10px;
}
.form-in .profile a{
    color: #ea5a12;
}
.form-in .profile a:hover{
    color: #271b14;
}
.form-in .profile .name p,a{
    margin: 0px;
    padding-left: 10px;
}

    

.form-in input{
    padding: 20px;
    border-radius: 15px;
    border-color: rgb(240, 234, 234);

}

.small-imgs{
    display: flex;
    margin-left: 100px;
}
.small-imgs img{
    height: 100px;
    width: 95px;
    padding: 5px;
    margin: 1px;
    
}

#details{
    margin-left: 100px;
    background-color: #f7f1ee;
    border: 20px;
    border-color: #271b14;
    border-radius: 30px;
    margin-right: 555px;
}
#details img{
    padding-right: 60px;
    border-right: solid lightgray 1px;
    padding-left: 20px;
    border-top: 10px;
    
}
.det h3{
    padding:10px 15px;
}
.icons-det{
    border-top: solid lightgrey;
}
.description{
    margin-left: 100px;
    background-color: #f7f1ee;
    border: 200px;
    border-color: #271b14;
    border-radius: 30px;
    margin-right: 555px;

}

.description h3{
    padding:10px 15px;

}
.description p{
    padding-left: 10px;
}
.checklist{
    display: flex;
}
.features{
    margin-left: 100px;
    background-color: #f7f1ee;
    border: 200px;
    border-color: #271b14;
    border-radius: 30px;
    margin-right: 555px;
    margin-bottom: 50px;
    

}
.features h3{
    padding:10px 15px;

}
.features ul{
    padding: 30px;
    margin: 5px;
}
.listings{
    display: flex;
    border-bottom: 0px;
    margin-bottom: 0px;
}
.listings .up{
    height: 290px;
    width: auto;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
}
.similar{
    margin-left: 100px;
    margin-bottom: 50px;


}
.icons1 img{
    
    height: 30px;
    width: 30px;
    
}
.malto1-icons{
    display: flex;
    position: relative;
    top: 0px;
    border-top: solid lightgray;
    
}
.malto1-icons .one, .two, .three{
    display: inline-block;
    border-right: solid lightgray;
    padding: 10px;
    align-items: center;
}
.malto1-icons .three{
    border-right: none;
}

.icons1{
    background-color: #f7f1ee;
    margin: 0px 20px 0px 0px;
    border: 50px;
    border-radius: 0px 0px  20px 20px;
    height: 120px;
    width: 341px;

}
.icons1 h3{
    margin: 0px;
}
.malto2-icons{
    display: flex;
    position: relative;
    top: 0px;
    border-top: solid lightgray;
}
.malto2-icons .one, .two, .three{
    display: inline-block;
    border-right: solid lightgray;
    padding: 20px;
}
.malto2-icons .three{
    border-right: none;
}


.icons2{
    background-color: #f7f1ee;
    border: 50px;
    margin: 0px 20px 0px 0px;
    border-radius: 0px 0px  20px 20px;
    height: 120px;
    width: 341px;
}
.icons2 h3{
    margin: 0px;
}
.icons2 img{
    
    height: 30px;
    width: 30px;
    border-color: lightgray;
}
.icons3 img{
    
    height: 30px;
    width: 30px;
}
.icons3 h3{
    margin: 0px;
}
.malto3-icons{
    display: flex;
    position: relative;
    top: 0px;
    border-top: solid lightgray;
    
}
.malto3-icons .one, .two, .three{
    display: inline-block;
    border-right: solid lightgray;
    margin: 0px;
}
.malto3-icons .three{
    border-right: none;
}

.icons3{
    background-color: #f7f1ee;
    border: 50px;
    margin: 0px 20px 0px 0px;
    border-radius: 0px 0px  20px 20px;
    height: 120px;
    width: 341px;

}
.icons4 img{
    
    height: 30px;
    width: 30px;
}
.icons4 h3{
    margin: 0px;
}
.malto4-icons{
    display: flex;
    position: relative;
    top: 0px;
    border-top: solid lightgray;
    
}
.malto4-icons .one, .two, .three{
    display: inline-block;
    border-right: solid lightgray;
}
.malto4-icons .three{
    border-right: none;
}

.icons4{
    background: #f7f1ee;
    border: 50px;
    border-radius: 0px 0px  20px 20px;
    margin: 0px 20px 0px 0px;
    height: 120px;
    width: 341px;

}


footer span{
    color: #FFAC12;
    
}
.social-media-icons a{
    color:white;
    padding: 10px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    
}
.sentence button{
    box-sizing: border-box;
    height: 100px;
    width: auto;
}
.sentence>h3{
    margin-left: 75px;
}
.sentence span{
    padding-left: 30px;
}
footer{
    background: #271b14;
    color: white;
    padding-bottom: 80px;
}
 .sentence{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.us {
    border: 20px 20px;
    height: 20px;
    width: 150px;
}

@media screen and (max-width=700px){
    footer{
       
        background:azure;
    }
    .topp{
        background: azure;
    }
}
