*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: poppins, actor,adana;
    
}
.topp{
    background-color: #271b14;
    padding-bottom: 80px;
}
.nav-links ul  {
    float: right;
    display: flex;
    justify-content: space-between;  
    padding-top: 20px; 
    padding-bottom: 20px;
   
}
.nav-links  li{
    justify-content: space-between;
    padding: 10px;
}
.nav-links .yellow{
    color: black;
    background-color:#FAFF00 ;
}
.nav-links .black{
    color: #FAFF00;
    background-color:black;

}
.nav-links .work-with-us{
    color: black;
    background-color: #FFAC12;
    margin-right: 100px;
    border-radius: 0px 12px 0px 0px;
    padding: 5px;
}
.nav-links a{
    color: white;
}
.nav-links button{
    border-radius: 5px;
    border: 0px;
    padding: 6px;
}
.nav-links a:hover{
    color: chocolate;
}
.navlink-bot{
    
    color: white;
    padding: 100px;
    justify-content: space-between;
    padding-bottom: 5px;
}
.navlink-bot .cost{
    margin-left: 960px;
    
}
.mid-section{
    background-color: lightgray;
    
    padding-top: 50px;
}
.large-img-and-form{
    display: flex;
}
.mid img{
    height: 500px;
    width: auto;
    margin-left: 100px;
}
.mid .form-btn{
    background-color: #271b14;
    color: white;
    border-radius: 0px 12px 0px 0px;
    border: 0px;
}
.form-in{
    padding: 20px;
    background-color: #f7f1ee;
    border-radius: 15px;
    border: 50px;
}

    

.form-in input{
    padding: 20px;
    border-radius: 15px;
}
.small-imgs{
    display: flex;
    margin-left: 100px;
}
.small-imgs img{
    height: 100px;
    width: auto;
    padding: 10px;
    margin: 1px;
    
}

#details{
    margin-left: 100px;
    background-color: #f7f1ee;
    border: 200px;
    border-color: #271b14;
    border-radius: 30px;
    margin-right: 555px;
}
#details img{
    padding: 50px;
}
#details h3{
    padding:10px 15px;
}
.description{
    margin-left: 100px;
    background-color: #f7f1ee;
    border: 200px;
    border-color: #271b14;
    border-radius: 30px;
    margin-right: 555px;

}

.description h3{
    padding:10px 15px;

}
.description p{
    padding-left: 10px;
}
.checklist{
    display: flex;
}
.features{
    margin-left: 100px;
    background-color: #f7f1ee;
    border: 200px;
    border-color: #271b14;
    border-radius: 30px;
    margin-right: 555px;
    margin-bottom: 50px;
    

}
.features h3{
    padding:10px 15px;

}
.features ul{
    padding: 30px;
    margin: 5px;
}
.listings{
    display: flex;
}
.listings img{
    height: 290px;
    width: auto;
    padding: 20px;
    margin-left: 0px;
}
.similar{
    margin-left: 100px;
    margin-bottom: 50px;

}