
*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: poppins, actor,adana;
    
}
.top{
    background-image:url("../images/moving1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
    
}

.nav-bar ul  {
    float: right;
    display: flex;
    justify-content: space-between;  
    padding-top: 20px; 
    padding-bottom: 20px;
   
}
.nav-bar  li{
    justify-content: space-between;
    padding: 10px;
}
.nav-bar .yellow{
    color: black;
    background-color:#FAFF00 ;
}
.nav-bar .black{
    color: #FAFF00;
    background-color:black;
    margin-right: 100px;
}
.nav-bar a{
    color: white;
}

.description h1{
    color: #FAFF00;
    padding-bottom: 30px;
    padding-top: 200px;
    padding-left: 50px;

}
.description p{
    color:white;
    padding-bottom: 100px;
    padding-left: 50px;
}
.nav-bar button{
    border-radius: 5px;
    border: 0px;
}
.nav-bar a:hover{
    color: chocolate;
}
.hustle{
    display: flex;
    margin-bottom: 100px;
}
.hustle img{
    height: 300px;
    width: auto;
}
#wordy{
    padding: 50px;
}
#wordy button{
    color: #FAFF00;
    background-color: black;
    border-radius: 0px 12px 0px 0px;
    padding: 9px;
    border: none;
    
}
#wordy h3{
    text-decoration: overline solid brown;

}
.mover_collection{
    display: flex;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
}
.mover_collection img{
    height: 300px;
    width: auto;
    padding: 10px;
   
}
.mover_collection p{
    padding-left: 15px;
    padding-bottom: 5px;
}

.mover_collection2{
    display: flex;
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
}

.mover_collection2 img{
    height: 300px;
    width: auto;
    padding: 10px;

}
.mover_collection2 p{
    padding-left: 15px;
}
.collections{
    background-color: #f4f1ed;
}
.collections h3{
    padding: 20px;
    margin-left: 50px;
    margin-bottom: 5px;
    text-decoration: overline solid brown;

}
footer span{
    color: #FFAC12;
    
}
.social-media-icons a{
    color:white;
    padding: 10px;
}
.bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-left: 50px;
    
}
.bottom .three{
    margin-right: 150px;
}
footer h3{
    margin-left: 75px;
    padding-top: 50px;
}
footer{
    background-color: #271b14;
    color: white;
    padding-bottom: 80px;
}


   
    

